* {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

a {
  text-decoration: none; }

@media only screen and (min-width: 480px) {
  .container {
    margin: 0 auto; } }
.profile .profile-cover {
  width: 100%;
  height: 344px;
  overflow: hidden;
  background: url("https://cdn.dribbble.com/users/1164424/screenshots/2910345/black800.png") no-repeat center;
  background-size: 100%;
  background-color: #171717; }
.profile .profile-info-wrap {
  float: right;
  margin-top: -52px;
  margin-right: 10px;
  height: 76px; }
  .profile .profile-info-wrap .profile-name {
    margin-right: 18px;
    line-height: 65px;
    vertical-align: top;
    font-size: 18px;
    color: #fff;
    text-shadow: 0 1px 0 #333; }
  .profile .profile-info-wrap .profile-avatar {
    box-sizing: border-box;
    width: 76px;
    height: 76px;
    border: 2px solid #fff;
    box-shadow: 0 0 1.5px #bbb; }

.container {
  max-width: 480px; }
  .container .timeline-wrap {
    margin-top: 49px;
    padding: 0 11px; }
    .container .timeline-wrap .timeline .timeline-item {
      margin-top: 13px;
      list-style: none;
      padding-bottom: 12px;
      border-bottom: 1px solid #EEE; }
      .container .timeline-wrap .timeline .timeline-item .item-wrap {
        position: relative; }
        .container .timeline-wrap .timeline .timeline-item .item-wrap .left-avatar-area {
          position: absolute; }
          .container .timeline-wrap .timeline .timeline-item .item-wrap .left-avatar-area .friend-avatar {
            width: 42px;
            height: 42px; }
        .container .timeline-wrap .timeline .timeline-item .item-wrap .right-detail-area {
          margin-left: 53px; }
          .container .timeline-wrap .timeline .timeline-item .item-wrap .right-detail-area .friend-name {
            line-height: 19px;
            font-size: 15px;
            color: #576B95; }
          .container .timeline-wrap .timeline .timeline-item .item-wrap .right-detail-area .moment-detail {
            margin-top: 9px;
            font-size: 15px;
            line-height: 18px; }
          .container .timeline-wrap .timeline .timeline-item .item-wrap .right-detail-area .pictures-wrap {
            margin-top: 12px;
            width: 252px; }
            .container .timeline-wrap .timeline .timeline-item .item-wrap .right-detail-area .pictures-wrap .single-picture {
              height: 102px; }
            .container .timeline-wrap .timeline .timeline-item .item-wrap .right-detail-area .pictures-wrap .nine-pictures {
              width: 79px;
              height: 79px;
              margin: 0 1px 1px 0; }
          .container .timeline-wrap .timeline .timeline-item .item-wrap .right-detail-area .link {
            display: block;
            position: relative;
            box-sizing: border-box;
            margin-top: 12px;
            padding: 5px;
            height: 50px;
            background-color: #F3F3F5; }
            .container .timeline-wrap .timeline .timeline-item .item-wrap .right-detail-area .link .link-icon {
              position: absolute;
              width: 40px;
              height: 40px; }
            .container .timeline-wrap .timeline .timeline-item .item-wrap .right-detail-area .link .link-title {
              margin-left: 50px;
              font-size: 14px;
              color: #000; }
          .container .timeline-wrap .timeline .timeline-item .item-wrap .right-detail-area .moment-info {
            margin-top: 12px; }
            .container .timeline-wrap .timeline .timeline-item .item-wrap .right-detail-area .moment-info .post-time {
              font-size: 12px;
              color: #737373; }
            .container .timeline-wrap .timeline .timeline-item .item-wrap .right-detail-area .moment-info .btn-more {
              float: right; }
